
div.cell {
    padding: 0 !important;
    padding-left: 0  !important;
}

.cell .prompt {
    min-width: 0;
    padding: 0;
}

.cell div.text_cell_render {
    padding: 0;
    margin: 0;   
}

body {
    font-family: 'Fira Sans', sans-serif;
}